.container{
	max-width: 720px;
	margin: 4rem auto;
	padding: 0 2rem;
	
	display: flex;
	flex-direction: column;

	h1{
		color: var(--white);
	}
}

.containerHeader{
	display: flex;
	flex-direction: row;

	button{
		background: transparent;
		border: 0;
		margin-left: 1rem;
	}
}

.listTransacoes{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.transacaoContent{
	height: 130px;
	display: flex;
	flex-direction: row;
	background-color: var(--dark-900);
	margin-bottom: 1rem;
	align-items: center;
	border-radius: 0.4rem;
	transition: all ease 0.4s;
	color: var(--white);
	font-size: 1.2rem;
	align-items: center;
	justify-content: space-between;
	
	&:hover{
		filter: brightness(0.8)
	}	
}

.transacao{
	display: flex;
	flex-direction: row;
	background-color: var(--dark-900);
	align-items: center;
	border-radius: 0.4rem;
	transition: all ease 0.4s;
	color: var(--white);
	font-size: 1.2rem;
	align-items: center;
	justify-content: space-between;
	
	&:hover{
		cursor: pointer;
		filter: brightness(0.8)
	}	

	span{
		margin: 0.1rem;
	}
}

.tag{
	width: 9px;	
	background-color: var(--green-900);
	height: 130px;
	border-radius: 0.4rem 0 0 0.4rem;
	margin-right: 1rem;
}

.descricao{
	
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;


}

.btnExcluir{
	display: flex;
	align-items: center;
	margin-right: 1.5rem;
	background: transparent;
	padding: 1rem 0;
	border: 0;
	color: var(--white);

	&:hover{
		color: var(--red-900);
		transform: scale(1.1);
	}
}

@media(min-width: 1080px){
	.transacaoContent{
		height: 150px;
	}
	.tag{
		height: 150px;
	}
}




















