.container{
	max-width: 720px;
	margin: 4rem auto;
	padding: 0 2rem;
	
	display: flex;
	flex-direction: column;

	h1{
		color: var(--white);
	}
}

.containerHeader{
	display: flex;
	flex-direction: row;

	button{
		background: transparent;
		background: transparent;
		border: 0;
		margin-left: 1rem;
	}
}

.listCategoria{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.categoria{	
	display: flex;
	flex-direction: row;
	background-color: var(--dark-900);
	margin-bottom: 1rem;
	align-items: center;
	border-radius: 0.4rem;
	transition: all ease 0.4s;

	&:hover{
		filter: brightness(1.3)
	}

	button{
		display: flex;
		background: transparent;
		border: 0;
		font-size: 1.2rem;
		color: var(--white);
		height: 70px;
		align-items: center;
	}	
}

.tag{
	width: 9px;
	background-color: var(--green-900);
	height: 70px;
	border-radius: 0.4rem 0 0 0.4rem;
	margin-right: 1rem;
}

.descricao{	
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
}


