.headerContainer{
	height: 5rem;
}

.headerContent{
	max-width: 1120px;
	height: 5rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuIcon{
	display: flex;
	align-items: center;
	padding: 15px;
	transition: all ease 0.7s;
	
	a{
		margin-left: 0.7rem;
		color: var(--white);
	}
	
	&:hover{
		a{
			color: var(--red-900)!important;
		}
		cursor: pointer;
		transform: scale(1.1);
	}
}

.menuNav{
	display: flex;
	align-items: center;

	a{
		color: var(--white);
		padding: 0 0.5rem;
		display: inline-block;
		position: relative;
		transition: all ease 0.7s;

		& + a{
			margin-left: 0.5rem;
		}

		&:hover{
			color: var(--red-900)!important;
			transform: scale(1.1);
		}
	}

	button{
		margin-left: 2rem;
		background: transparent;
		border: 0;
		color: var(--white);
		transition: all ease 0.7s;

		&:hover{
			color: var(--red-900) !important;
			transform: scale(1.3);
			filter: brightness(1.5);
		}
	}
}

@media(max-width: 470px){
  .menuNav{
	  font-size: 0.8rem;
	  padding: 0;
	  a{
		  margin: 0;
		  padding: 0;
	  }	
  }
}

